{% extends 'base.html' %}

{% block title %}Hotels near you{% endblock %}

{% block content %}
<div class="py-5">
    <h1 class="mb-4">Hotels near you</h1>
    <div class="row">
        {% for hotel in hotels %}
            <div class="col-md-6 col-lg-4 mb-3">
                <a href="{% url 'hotel_detail' hotel.business_id %}" class="text-decoration-none text-dark">
                    <div class="card" style="width: 18rem; max-height: 500px;">
                        {% if hotel.photos_sample %}
                            <img src="{{ hotel.photos_sample.0.photo_url }}" class="card-img-top" alt="Hotel Image" style="height: 300px;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ hotel.name }}</h5>
                            <p class="card-text">{{ hotel.full_address }}</p>
                            <p class="card-text">Rating: {{ hotel.rating }} ({{ hotel.review_count }} reviews)</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

</div>
<style>
    .card {
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out; /* Smooth transition for 3D effect */
    transform: perspective(1000px) rotateY(0deg); /* Initial state */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Initial shadow for depth */
}

.card:hover {
    transform: perspective(1000px) rotateY(10deg); /* 3D effect on hover */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Enhanced shadow for more depth */
}

</style>
{% endblock %}
