{% extends 'base.html' %}
{% load static %} 
{% block title %}Landing Page{% endblock %}

{% block extra_css %}
<style>
    .service-icon {
        width: 100px;
        height: 100px;
        margin: 20px;
        transition: transform 0.3s ease;
    }
    .service-icon:hover {
        transform: scale(1.1);
    }
</style>
{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h2 style="margin-bottom: 90px;">Choose from Our Services</h2>
    <div class="row mt-4">
        <div class="col-sm-3">
            <a href="{% url 'movies_home' %}">
                <img src="{% static 'movies.jpg' %}" alt="Movies"style="height: 200px; width:200px;">
                
            </a>
        </div>
        <div class="col-sm-3">
            <a href="{% url 'hotel_list' %}">
                <img src="{% static 'hotels.png' %}" alt="Hotels" style="height: 200px; width:200px;">
                
            </a>
        </div>
        <div class="col-sm-3">
            <a href="{% url 'restraunt_list' %}">
                <img src="{% static 'restraunt.png' %}" alt="Restraunts" style="height: 200px; width:200px;">
                
            </a>
        </div>
        <div class="col-sm-3">
            <a href="{% url 'search_flights' %}">
                <img src="{% static 'flights1.png' %}" alt="Flights" style="height: 200px; width:200px;">
                
            </a>
        </div>
  </div>
</div>

{% endblock %}
