{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Films Page</title>
{% endblock %}
{% block content %}

<style>
    .film-card {
        width: 200px;
        height: 300px;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
    }

    .film-image {
        width: 150px;
        height: 225px;
        margin-bottom: 10px;
    }
</style>
<div id="films-container">
    {% if films_data %}
        {% for film in films_data %}
            <div class="film-card" data-film-id="{{ film.film_id }}">
                <img class="film-image" src="{{ film.images.poster.1.medium.film_image }}" alt="{{ film.film_name }}">
                <div>{{ film.film_name }}</div>
                {% if film.release_dates %}
                    <div>Release Date: {{ film.release_dates.0.release_date }}</div>
                {% endif %}
                {% if film.duration %}
                    <div>Duration: {{ film.duration }} mins</div>
                {% endif %}
                {% if film.age_rating %}
                    <div>Age Rating: {{ film.age_rating.0.rating }}</div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>No film data available.</p>
    {% endif %}
</div>



<script>
    $('.film-card').click(function () {
        var filmId = $(this).data('film-id');
        var currentDateTime = new Date().toISOString();
        console.log("Clicked on film with ID:", filmId);
        $.ajax({
            url: `https://api-gate2.movieglu.com/filmDetails/?film_id=${filmId}`,
            method: 'GET',
            headers: {
                "client": "REQU",
                "x-api-key": "ILPu1EKnTX30MHdMVJytO8dLCygblDqW7UebInXB",
                "authorization": "Basic UkVRVToweVI1cmxTaXEyOEY=",
                "territory": "US",
                "api-version": "v200",
                "loc":"42.652;-73.756",
                "device-datetime": currentDateTime,
            },
            success: function (data) {
                // console.log(data);
                var data1=data;
                // console.log(data1);

                $.ajax({
                    url: '/load-movie',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data1),
                    success: function (response) {
                            window.location.href = 'movie-details'; 
                    },
                    error: function (xhr, status, error) {
                        console.log('error in ajax')
                    }
                });
            },
            error: function (error) {
                // Handle error
                console.error(error);
            }
        });
    });
</script>
{% endblock %}