{% extends 'user_base.html' %}

{% block content %}
<div class="container form-signin">
    <h2 class="form-heading">Register</h2>
    <form method="post" class="login-form">
        <div class="form-group">
            <label for="id_username">Username:</label>
            <input type="text" id="id_username" name="username" required>
        </div>
        
        <div class="form-group">
            <label for="id_email">Email:</label>
            <input type="email" id="id_email" name="email" required>
        </div>
        
        <div class="form-group">
            <label for="id_password1">Password:</label>
            <input type="password" id="id_password1" name="password1" required oninput="validatePassword()">
            <ul id="passwordCriteria" class="password-criteria">
                <li id="minChar">At least 8 characters</li>
                <li id="upperCase">At least one uppercase letter</li>
                <li id="lowerCase">At least one lowercase letter</li>
                <li id="digit">At least one number</li>
                <li id="specialChar">At least one symbol</li>
            </ul>
        </div>
        
        <div class="form-group">
            <label for="id_password2">Confirm Password:</label>
            <input type="password" id="id_password2" name="password2" required oninput="validateConfirmPassword()">
            <div id="passwordMatch" class="password-match"></div>
        </div>
        
        <button type="button" id="submit_btn" class="btn btn-lg btn-primary btn-block animated-button">Register</button>
    </form>
    <a href="{% url 'login' %}" class="signup-link">Already have an account? Log in</a>
</div>

<style>
    body {
        padding-top: 20px;
        /* background: url("/static/profile_bg.jpg"); */
        font-family: 'Poppins', sans-serif;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .form-signin {
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(8.5px);
        border-radius: 15px;    
        width: 100%;
        max-width: 380px;
        padding: 25px; 
        border: 1px solid rgba(255, 255, 255, 0.18);
        animation: slide-in 0.5s ease-out forwards;
    }
    .form-heading {
        margin-bottom: 30px; 
        color: #000;
        text-align: center;
    }
    form {
        width: 100%;
    }
    form p {
        margin-bottom: 5px;
        padding: 0px;
    }
    input, textarea, select {
        width: calc(100% - 20px); /* Full width */
        margin: 5px;
        padding: 0px; 
        border-radius: 5px;
        border: 1px solid #ced4da;
        background-color: rgba(255,255,255,0.07);
        height: 40px; 
    }
    .animated-button {
        margin-top: 20px;
        width: 100%;
        background-color: #007bff;
        color: white;
        transition: all 0.3s;
        border-radius: 25px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 123, 255, 0.4);
    }
    .animated-button:hover, .animated-button:focus {
        transform: translateY(-3px);
        box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
    }
    .signup-link {
        display: block;
        text-align: center;
        margin-top: 20px; 
        color: #080808;
        transition: color 0.3s;
    }
    .signup-link:hover {
        color: #ca0808;
    }
    .password-criteria {
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.password-criteria li {
    color: red; /* Start with red indicating not met */
    font-size: 0.8em;
}

.password-criteria li.valid {
    color: green; /* Green when the criteria is met */
}

    @keyframes slide-in {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

</style>
<script>
function validatePassword() {
    const password = document.getElementById('id_password1').value;
    const minChar = document.getElementById('minChar');
    const upperCase = document.getElementById('upperCase');
    const lowerCase = document.getElementById('lowerCase');
    const digit = document.getElementById('digit');
    const specialChar = document.getElementById('specialChar');

    minChar.classList.toggle('valid', password.length >= 8);
    upperCase.classList.toggle('valid', /[A-Z]/.test(password));
    lowerCase.classList.toggle('valid', /[a-z]/.test(password));
    digit.classList.toggle('valid', /[0-9]/.test(password));
    specialChar.classList.toggle('valid', /[\W_]/.test(password));
}

function validateConfirmPassword() {
        const password = document.getElementById('id_password1').value;
        const confirmPassword = document.getElementById('id_password2').value;
        const passwordMatch = document.getElementById('passwordMatch')

        const isMatch = password === confirmPassword;
        passwordMatch.textContent = isMatch ? 'Passwords match.' : 'Passwords do not match.';
        passwordMatch.style.color = isMatch ? 'green' : 'red';
    }

     document.addEventListener("DOMContentLoaded", function() {
    function clearPreviousErrors() {
            document.querySelectorAll('.error-message').forEach(function(message) {
                message.remove();
            });
        }
    
        function showError(inputElement, message) {
            const error = document.createElement('div');
            error.textContent = message;
            error.className = 'error-message';
            error.style.color = 'red';
            error.style.fontSize = '0.8em';
            inputElement.parentNode.insertBefore(error, inputElement.nextSibling);
        }

        function validateRegistrationForm() {
            clearPreviousErrors(); 
            let isValid = true;

            const username = document.getElementById('id_username');
            const email = document.getElementById('id_email');
            const password = document.getElementById('id_password1');
            const confirmPassword = document.getElementById('id_password2');

            // Add checks for individual criteria based on 'valid' class presence
            if (!document.getElementById('minChar').classList.contains('valid') ||
                !document.getElementById('upperCase').classList.contains('valid') ||
                !document.getElementById('lowerCase').classList.contains('valid') ||
                !document.getElementById('digit').classList.contains('valid') ||
                !document.getElementById('specialChar').classList.contains('valid')) {
                showError(password, 'Password does not meet the required criteria.');
                isValid = false;
            }

            if (password.value !== confirmPassword.value) {
                showError(confirmPassword, 'Passwords do not match.');
                isValid = false;
            }

            return isValid;
}



document.getElementById('submit_btn').addEventListener('click', function(event) {
    event.preventDefault(); 
    console.log('click');
    if (validateRegistrationForm()) {
        var formData = new FormData();
        
        formData.append('username', document.getElementById('id_username').value);
        formData.append('email', document.getElementById('id_email').value);
        formData.append('password1', document.getElementById('id_password1').value);
        formData.append('password2', document.getElementById('id_password2').value);
        fetch('/register/', { 
                method: 'POST',
                body: formData,
        
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (!data.success){
                    // alert(data.errors);
                    // console.log(data.errors)
                    var username= document.getElementById('id_username');
                    var email= document.getElementById('id_email');
                    if (data.errors =='Username already taken.'){
                        showError(username,data.errors)
                    }
                    else{
                        showError(email,data.errors)
                    }
                }
                if (data.redirect_url){
                window.location.href = data.redirect_url;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while updating the profile.');
            });
    
    }

});

     });</script>
{% endblock %}
