{% extends 'base.html' %}

{% block title %}Restraunts near you{% endblock %}

{% block content %}
<div class="py-5">
    <h1 class="mb-4">Restraunts near you</h1>
    <div class="row">
        {% for restraunt in restraunts %}
            <div class="col-md-6 col-lg-4 mb-3">
                <a href="{% url 'restraunt_detail' restraunt.business_id %}" class="text-decoration-none text-dark">
                    <div class="card " style="width: 18rem; max-height: 500px;">
                        {% if restraunt.photos_sample %}
                            <img src="{{ restraunt.photos_sample.0.photo_url }}" class="card-img-top" alt="restraunt Image" style="height: 300px;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ restraunt.name }}</h5>
                            <p class="card-text">{{ restraunt.full_address }}</p>
                            <p class="card-text">Rating: {{ restraunt.rating }} ({{ restraunt.review_count }} reviews)</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<style>
    .card {
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out; 
    transform: perspective(1000px) rotateY(0deg);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.card:hover {
    transform: perspective(1000px) rotateY(10deg); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
}

</style>
{% endblock %}
