{% extends 'base.html' %}
{% load static %}

{% block title %}
MOVIES | Seats 
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static "css/seat.css" %}">
<style>
  .hall__screen {
    background-image: url({{show.movie.movie_poster.url}});
    height: 50px;
  }
</style>
{% endblock %}
<style>
.seat.notvacant {
  background: #ccc;
  background: linear-gradient(#ccc 0%, #ccc 70%, #000 70%, #ccc 77%);
}

.seat.notvacant label {
  cursor: default; /* Overrides pointer to indicate the seat is not selectable */
}

.seat.notvacant label:after {
  background: #ccc;
  opacity: 1; /* Always visible to indicate the seat is taken */
}

/* Make sure hover and checked styles do not apply to notvacant seats */
.seat.notvacant label:hover::after,
.seat.notvacant input[type=checkbox]:checked + label:after {
  background: #ccc;
  opacity: 1; /* Keep the same appearance */
}
</style>

<div class="d-none">
  <div class="col-2">
    <img src="{{show.movie.movie_poster.url}}" height="300px">
  </div>

  <h2>Select Your Seats</h2>
    <div>
        <strong>Movie:</strong> {{ movie_name }}<br>
        <strong>Theater:</strong> {{ theater_name }}<br>
        <strong>Showtime:</strong> {{ showtime }}
    </div>
</div>

{% block content %}
<div class="container-fluid" style="background-color: #000;">
  <div class="row">
    <div class="col-12 hall" style="background: linear-gradient(360deg, black, #1f1f1f);">
      <form action="" method="POST" id="book">
        {% csrf_token %}
        <input type="hidden" value="{{show.shows}}" name="show" readonly>


        <div class="hall__screen" style="height: 50px;"></div>


        <div class="seats">

          <div class="row">
            <h3 class="text-white m-2">A</h3>
            <div class="seat" id="A1">
              <input type="checkbox" value="A1" id="seatA1" name="check" />
              <label for="seatA1"></label>
            </div>
            <div class="seat" id="A2">
              <input type="checkbox" value="A2" id="seatA2" name="check" />
              <label for="seatA2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="A3">
              <input type="checkbox" value="A3" id="seatA3" name="check" />
              <label for="seatA3"></label>
            </div>
            <div class="seat" id="A4">
              <input type="checkbox" value="A4" id="seatA4" name="check" />
              <label for="seatA4"></label>
            </div>
            <div class="seat" id="A5">
              <input type="checkbox" value="A5" id="seatA5" name="check" />
              <label for="seatA5"></label>
            </div>
            <div class="seat" id="A6">
              <input type="checkbox" value="A6" id="seatA6" name="check" />
              <label for="seatA6"></label>
            </div>
            <div class="seat" id="A7">
              <input type="checkbox" value="A7" id="seatA7" name="check" />
              <label for="seatA7"></label>
            </div>
            <div class="seat" id="A8">
              <input type="checkbox" value="A8" id="seatA8" name="check" />
              <label for="seatA8"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="A9">
              <input type="checkbox" value="A9" id="seatA9" name="check" />
              <label for="seatA9"></label>
            </div>
            <div class="seat" id="A10">
              <input type="checkbox" value="A10" id="seatA10" name="check" />
              <label for="seatA10"></label>
            </div>
          </div>

          <div class="row">
            <h3 class="text-white m-2">B</h3>
            <div class="seat" id="B1">
              <input type="checkbox" value="B1" id="seatB1" name="check" />
              <label for="seatB1"></label>
            </div>
            <div class="seat" id="B2">
              <input type="checkbox" value="B2" id="seatB2" name="check" />
              <label for="seatB2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="B3">
              <input type="checkbox" value="B3" id="seatB3" name="check" />
              <label for="seatB3"></label>
            </div>
            <div class="seat notvacant" id="B4">
              <input type="checkbox" value="B4" id="seatB4" name="check" disabled/>
              <label for="seatB4"></label>
            </div>
            <div class="seat notvacant" id="B5">
              <input type="checkbox" value="B5" id="seatB5" name="check" disabled/>
              <label for="seatB5"></label>
            </div>
            <div class="seat notvacant" id="B6">
              <input type="checkbox" value="B6" id="seatB6" name="check" disabled/>
              <label for="seatB6"></label>
            </div>
            <div class="seat" id="B7">
              <input type="checkbox" value="B7" id="seatB7" name="check" />
              <label for="seatB7"></label>
            </div>
            <div class="seat" id="B8">
              <input type="checkbox" value="B8" id="seatB8" name="check" />
              <label for="seatB8"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="B9">
              <input type="checkbox" value="B9" id="seatB9" name="check" />
              <label for="seatB9"></label>
            </div>
            <div class="seat" id="B10">
              <input type="checkbox" value="B10" id="seatB10" name="check" />
              <label for="seatB10"></label>
            </div>
          </div>

          <div class="row">
            <h3 class="text-white m-2">C</h3>
            <div class="seat" id="C1">
              <input type="checkbox" value="C1" id="seatC1" name="check" />
              <label for="seatC1"></label>
            </div>
            <div class="seat" id="C2">
              <input type="checkbox" value="C2" id="seatC2" name="check" />
              <label for="seatC2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="C3">
              <input type="checkbox" value="C3" id="seatC3" name="check" />
              <label for="seatC3"></label>
            </div>
            <div class="seat" id="C4">
              <input type="checkbox" value="C4" id="seatC4" name="check" />
              <label for="seatC4"></label>
            </div>
            <div class="seat" id="C5">
              <input type="checkbox" value="C5" id="seatC5" name="check" />
              <label for="seatC5"></label>
            </div>
            <div class="seat" id="C6">
              <input type="checkbox" value="C6" id="seatC6" name="check" />
              <label for="seatC6"></label>
            </div>
            <div class="seat" id="C7">
              <input type="checkbox" value="C7" id="seatC7" name="check" />
              <label for="seatC7"></label>
            </div>
            <div class="seat" id="C8">
              <input type="checkbox" value="C8" id="seatC8" name="check" />
              <label for="seatC8"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="C9">
              <input type="checkbox" value="C9" id="seatC9" name="check" />
              <label for="seatC9"></label>
            </div>
            <div class="seat" id="C10">
              <input type="checkbox" value="C10" id="seatC10" name="check" />
              <label for="seatC10"></label>
            </div>
          </div>

          <div class="row">
            <h3 class="text-white m-2">D</h3>
            <div class="seat" id="D1">
              <input type="checkbox" value="D1" id="seatD1" name="check" />
              <label for="seatD1"></label>
            </div>
            <div class="seat" id="D2">
              <input type="checkbox" value="D2" id="seatD2" name="check" />
              <label for="seatD2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="D3">
              <input type="checkbox" value="D3" id="seatD3" name="check" />
              <label for="seatD3"></label>
            </div>
            <div class="seat" id="D4">
              <input type="checkbox" value="D4" id="seatD4" name="check" />
              <label for="seatD4"></label>
            </div>
            <div class="seat" id="D5">
              <input type="checkbox" value="D5" id="seatD5" name="check" />
              <label for="seatD5"></label>
            </div>
            <div class="seat" id="D6">
              <input type="checkbox" value="D6" id="seatD6" name="check" />
              <label for="seatD6"></label>
            </div>
            <div class="seat" id="D7">
              <input type="checkbox" value="D7" id="seatD7" name="check" />
              <label for="seatD7"></label>
            </div>
            <div class="seat" id="D8">
              <input type="checkbox" value="D8" id="seatD8" name="check" />
              <label for="seatD8"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="D9">
              <input type="checkbox" value="D9" id="seatD9" name="check" />
              <label for="seatD9"></label>
            </div>
            <div class="seat" id="D10">
              <input type="checkbox" value="D10" id="seatD10" name="check" />
              <label for="seatD10"></label>
            </div>
          </div>

          <div class="row">
            <h3 class="text-white m-2">E</h3>
            <div class="seat" id="E1">
              <input type="checkbox" value="E1" id="seatE1" name="check" />
              <label for="seatE1"></label>
            </div>
            <div class="seat" id="E2">
              <input type="checkbox" value="E2" id="seatE2" name="check" />
              <label for="seatE2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="E3">
              <input type="checkbox" value="E3" id="seatE3" name="check" />
              <label for="seatE3"></label>
            </div>
            <div class="seat" id="E4">
              <input type="checkbox" value="E4" id="seatE4" name="check" />
              <label for="seatE4"></label>
            </div>
            <div class="seat" id="E5">
              <input type="checkbox" value="E5" id="seatE5" name="check" />
              <label for="seatE5"></label>
            </div>
            <div class="seat" id="E6">
              <input type="checkbox" value="E6" id="seatE6" name="check" />
              <label for="seatE6"></label>
            </div>
            <div class="seat" id="E7">
              <input type="checkbox" value="E7" id="seatE7" name="check" />
              <label for="seatE7"></label>
            </div>
            <div class="seat" id="E8">
              <input type="checkbox" value="E8" id="seatE8" name="check" />
              <label for="seatE8"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="E9">
              <input type="checkbox" value="E9" id="seatE9" name="check" />
              <label for="seatE9"></label>
            </div>
            <div class="seat" id="E10">
              <input type="checkbox" value="E10" id="seatE10" name="check" />
              <label for="seatE10"></label>
            </div>
          </div>

          <div class="row">
            <h3 class="text-white m-2">F</h3>
            <div class="seat" id="F1">
              <input type="checkbox" value="F1" id="seatF1" name="check" />
              <label for="seatF1"></label>
            </div>
            <div class="seat" id="F2">
              <input type="checkbox" value="F2" id="seatF2" name="check" />
              <label for="seatF2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="F3">
              <input type="checkbox" value="F3" id="seatF3" name="check" />
              <label for="seatF3"></label>
            </div>
            <div class="seat" id="F4">
              <input type="checkbox" value="F4" id="seatF4" name="check" />
              <label for="seatF4"></label>
            </div>
            <div class="seat" id="F5">
              <input type="checkbox" value="F5" id="seatF5" name="check" />
              <label for="seatF5"></label>
            </div>
            <div class="seat" id="F6">
              <input type="checkbox" value="F6" id="seatF6" name="check" />
              <label for="seatF6"></label>
            </div>
            <div class="seat" id="F7">
              <input type="checkbox" value="F7" id="seatF7" name="check" />
              <label for="seatF7"></label>
            </div>
            <div class="seat" id="F8">
              <input type="checkbox" value="F8" id="seatF8" name="check" />
              <label for="seatF8"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="F9">
              <input type="checkbox" value="F9" id="seatF9" name="check" />
              <label for="seatF9"></label>
            </div>
            <div class="seat" id="F10">
              <input type="checkbox" value="F10" id="seatF10" name="check" />
              <label for="seatF10"></label>
            </div>
          </div>

          <div class="row">
            <h3 class="text-white m-2">G</h3>
            <div class="seat" id="G1">
              <input type="checkbox" value="G1" id="seatG1" name="check" />
              <label for="seatG1"></label>
            </div>
            <div class="seat" id="G2">
              <input type="checkbox" value="G2" id="seatG2" name="check" />
              <label for="seatG2"></label>
            </div>
            <div class="space"></div>
            <div class="seat" id="G3">
              <input type="checkbox" value="G3" id="seatG3" name="check" />
              <label for="seatG3"></label>
            </div>
            <div class="seat" id="G4">
              <input type="checkbox" value="G4" id="seatG4" name="check" />
              <label for="seatG4"></label>
            </div>
            <div class="seat" id="G5">
              <input type="checkbox" value="G5" id="seatG5" name="check" />
              <label for="seatG5"></label>
            </div>
            <div class="seat" id="G6">
              <input type="checkbox" value="G6" id="seatG6" name="check" />
              <label for="seatG6"></label>
            </div>
            <div class="seat" id="G7">
              <input type="checkbox" value="G7" id="seatG7" name="check" />
              <label for="seatG7"></label>
            </div>
            <div class="seat notvacant" id="G8">
              <input type="checkbox" value="G8" id="seatG8" name="check" disabled/>
              <label for="seatG8"></label>
            </div>
            <div class="space"></div>
            <div class="seat notvacant" id="G9">
              <input type="checkbox" value="G9" id="seatG9" name="check" disabled/>
              <label for="seatG9"></label>
            </div>
            <div class="seat notvacant" id="G10">
              <input type="checkbox" value="G10" id="seatG10" name="check" disabled/>
              <label for="seatG10"></label>
            </div>
          </div>


          <div class="row">
            <h3 class="text-white m-2">H</h3>
            <div class="seat" id="H1">
              <input type="checkbox" value="H1" id="seatH1" name="check" />
              <label for="seatH1"></label>
            </div>
            <div class="seat" id="H2">
              <input type="checkbox" value="H2" id="seatH2" name="check" />
              <label for="seatH2"></label>
            </div>
            
            <div class="seat" id="H3">
              <input type="checkbox" value="H3" id="seatH3" name="check" />
              <label for="seatH3"></label>
            </div>
            <div class="seat notvacant" id="H4">
              <input type="checkbox" value="H4" id="seatH4" name="check"  disabled/>
              <label for="seatH4"></label>
            </div>
            <div class="seat notvacant" id="H5">
              <input type="checkbox" value="H5" id="seatH5" name="check" disabled/>
              <label for="seatH5"></label>
            </div>
            <div class="seat" id="H6">
              <input type="checkbox" value="H6" id="seatH6" name="check" />
              <label for="seatH6"></label>
            </div>
            <div class="seat" id="H7">
              <input type="checkbox" value="H7" id="seatH7" name="check" />
              <label for="seatH7"></label>
            </div>
            <div class="seat notvacant" id="H8">
              <input type="checkbox" value="H8" id="seatH8" name="check" disabled/>
              <label for="seatH8"></label>
            </div>
            
            <div class="seat" id="H9">
              <input type="checkbox" value="H9" id="seatH9" name="check" />
              <label for="seatH9"></label>
            </div>
            <div class="seat" id="H10">
              <input type="checkbox" value="H10" id="seatH10" name="check" />
              <label for="seatH10"></label>
            </div>
          </div>

        </div>
      </form>

    </div>
  </div>
  <div id="details" style="display:none;" 
     data-showtime="{{ showtime }}" 
     data-movie_name="{{movie_name}}"
     data-theatre_name="{{theatre_name}}"
     data-booked_seats="{{booked_seats}}">
</div>


  <div class="row">
    <div class="col-12" style="font-size: 20px; text-align-last: center; ">
      <p class="text-white">Selected Seats : <span id="slots"></span></p>
    </div>
  </div>

  

    <div class="row">
        <div class="col-5"></div>
        <div class="col-2" style="font-size: 20px; text-align-last: center; ">
          {% if user.is_authenticated %}
          <button  id="booking_submit"  class="btn btn-lg btn-block btn-primary"> Confirm Booking </button>
          {% else %}
          <a href="/accounts/login" class="btn btn-lg btn-block btn-danger"> Login To Book </a>
          {% endif %}
      </div>
      <div class="col-5"></div>
    </div>
  

</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var seatCheckboxes = document.querySelectorAll(".seat input[type='checkbox']");
    var slotsDisplay = document.getElementById('slots');

    seatCheckboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            var selectedSeats = [];
            console.log('Checkbox was clicked'); // For debugging
            // Check all checkboxes and add the value of checked ones to selectedSeats
            seatCheckboxes.forEach(function(box) {
                if (box.checked) {
                    selectedSeats.push(box.value);
                }
            });
            // Display the selected seats
            slotsDisplay.textContent = selectedSeats.join(", ");
        });
    });
});
  // $(document).ready(function() {
  //       $(".seat input[type='checkbox']").change(function () {
  //           var selectedSeats = [];
  //           console.log('getting clicled');
  //           $(".seat input[type='checkbox']:checked").each(function () {
  //               selectedSeats.push($(this).val());
  //           });
  //           $("#slots").text(selectedSeats.join(", "));
  //       });
  //   });
  // 
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


  // $(document).ready(function() {
  //     $('#booking_submit').click(function(e) {
  //        e.preventDefault();
  //        var $detailsDiv = $('#details');
  //         var seatNumbers = $('#slots').text(); 
  //         console.log(seatNumbers);
  
  //         $.ajax({
  //             url: 'booking_view',
  //             type: 'POST',
  //             data:JSON.stringify({
  //               'cinema_id': $detailsDiv.data('cinema-id'),
  //               'film_id': $detailsDiv.data('film-id'),
  //               'showtime': $detailsDiv.data('showtime'),
  //               'date': $detailsDiv.data('date'),
  //               'seats': seatNumbers,
  //               'movie_name':$detailsDiv.data('movie_name'),
  //               'theatre_name':$detailsDiv.data('theatre_name'),

  //               'csrfmiddlewaretoken': csrftoken,
  //             }),
  //             success: function(response) {
  //                 // Handle success
  //                 console.log("Booking successful", response);
  //                 console.log("Current URL: ", window.location.href);
  //                 console.log("Redirect URL: ", response.redirect_url);

  //                 window.location.href = response.redirect_url;
  //             },
  //             error: function(error) {
  //                 // Handle error
  //                 console.log("Error in booking", error);
  //             }
  //         });
  //     });
  // });
  document.addEventListener('DOMContentLoaded', function() {
    var detailsDiv = document.getElementById('details');

        var bookedSeats = JSON.parse(detailsDiv.getAttribute('data-booked_seats').replace(/'/g, '"'));
        console.log(bookedSeats);
        
        // Iterate over each booked seat
        bookedSeats.forEach(function(seatId) {  
            var seat = document.getElementById(seatId);
            if (seat) { // Check if the element exists
                seat.classList.add("notvacant"); // Add 'notvacant' class
                var input = seat.querySelector("input");
                if (input) { // Check if the input exists
                    input.disabled = true; // Disable the input
                }
                var label = seat.querySelector("label");
                if (label) { // Check if the label exists
                    label.remove(); // Remove the label
                }
            }
        });
        console.log('data received');
    var bookingButton = document.getElementById('booking_submit');
    bookingButton.addEventListener('click', function(e) {
        e.preventDefault();
        var detailsDiv = document.getElementById('details');
        var seatNumbers = document.getElementById('slots').textContent;   

        console.log(seatNumbers);
        
        var showtime = detailsDiv.getAttribute('data-showtime');
        var movieName = detailsDiv.getAttribute('data-movie_name');
        var theaterName = detailsDiv.getAttribute('data-theatre_name');
        console.log(JSON.stringify({
                movieName:movieName,
                theaterName:theaterName,
                showtime: showtime,
                seats: seatNumbers
            }));

        fetch('/book_ticket/', {
            method: 'POST',
            body: JSON.stringify({
                movieName:movieName,
                theaterName:theaterName,
                showtime: showtime,
                seats: seatNumbers
            }),
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was  not ok.');
        })
        .then(data => {
            console.log("Booking successful", data);
            window.location.href = data.redirect_url; 
        })
        .catch(error => {
            console.error("Error in booking", error);
        });
    });
});
  </script>

{% endblock %}

{% block JQuery %}
{% if  booked_seats %}
{% for seat in booked_seats%}
<script type="text/javascript">
  $("{{seat}}").addClass("notvacant").children("input").prop("disabled", true);
  $("{{seat}}").children("label").remove();
  console.log('data recieved')
</script>
{% endfor %}
{% endif %}




{% endblock %}