{% extends 'base.html' %}

{% block content %}
<div class="ticket-details">
<h1 class="show-tickets-header">Ticket Details</h1>
    <p><strong>Booking ID:</strong> {{ booking_id }}</p>
    <p><strong>Movie Name:</strong> {{ ticket.movie}}</p>
    <p><strong>Theater Name:</strong> {{ ticket.theater }}</p>
    <p><strong>Showtime:</strong> {{ ticket.showtime }}</p>
    <p><strong>Seats:</strong> {{ ticket.tickets }}</p>
    <p><strong>Price Paid:</strong>$ {{ price }}</p>

    <a href="{% url 'home' %}">Back to Home</a>
</div>
<style>
    .show-tickets-header {
        text-align: center;
        font-size: 28px;
        color: #333;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 600;
    }
    .ticket-details {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: left;
    }

    .ticket-details h1 {
        text-align: center;
        color: #333;
        font-size: 28px;
    }

    .ticket-details p {
        font-size: 16px;
        line-height: 1.6;
        margin: 10px 0;
    }

    .ticket-details p strong {
        color: #333;
        font-weight: bold;
    }

    .ticket-details a {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
    }

    .ticket-details a:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}
