{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Movies | Cinemas</title>
{% endblock %}

{% block content %}
<div id="movie-cinemas-container">
    {% for cinema in cinema_data.cinemas %}
    <div class="cinema-card">
        <div class="cinema-info">
            <span class="cinema-name">{{ cinema.cinema_name }}</span>
            <span class="cinema-time" data-cinema-id="{{ cinema.cinema_id }}" data-time="{{ cinema.time }}" data-film-id="{{ cinema_data.film_id }}" data-date="{{cinema.date}}">{{ cinema.time }}</span>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    $(document).on('click', '.cinema-time', function(e) {
        // console.log("clicked");
        var cinemaId = $(this).data('cinema-id');
        var filmId = $(this).data('film-id');
        var showtime = $(this).data('time');
        var date = $(this).data('date');
        // console.log(cinemaId,filmId,showtime,date);
        window.location.href = `seat_selection/${cinemaId}/film/${filmId}/showtime/${showtime}/date/${date}/`;
    });
    
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


{% endblock %}
